<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>46344192515-047mh303koiahjbdu3on3ohr88k74u1f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.46344192515-047mh303koiahjbdu3on3ohr88k74u1f</string>
	<key>API_KEY</key>
	<string>AIzaSyCb-i4kblKjNf6V-z3P7FQk71tG_P1f980</string>
	<key>GCM_SENDER_ID</key>
	<string>46344192515</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.snoopyking.jofriends</string>
	<key>PROJECT_ID</key>
	<string>jofriends-72f7f</string>
	<key>STORAGE_BUCKET</key>
	<string>jofriends-72f7f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:46344192515:ios:4a2543d53808a7e4</string>
	<key>DATABASE_URL</key>
	<string>https://jofriends-72f7f.firebaseio.com</string>
</dict>
</plist>